APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=


REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_ENDPOINT=

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DATABASE=default
CLICKHOUSE_ENDPOINT=http://${CLICKHOUSE_HOST}:${CLICKHOUSE_PORT}

WEBHOOK_SECRET=thisismytoken

VOD_TOKEN_SECRET=9a4dbe2a09b0a0000d17566e2e680dda
VOD_CACHE_MAX_SIZE=10g
VOD_CACHE_INACTIVE=1h
SECURE_TOKEN_EXPIRES_TIME=100d
SECURE_TOKEN_QUERY_EXPIRES_TIME=1h

API_UPSTREAM_HOST=nukevideo-api:8080

SENTRY_LARAVEL_DSN=dns
SENTRY_TRACES_SAMPLE_RATE=1.0